.public-groups-list,
.groups-list {
  margin: 15px 0;
  background-color: #ccc;
  border: 1px solid #000;
  padding: 15px;

  .public-groups-search,
  .group-new-group {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;

    form {
      &.search {
        button[type="reset"] {
          display: block;
        }
      }

      button[type="reset"] {
        transition: all 1s ease;
        display: none;
      }

      button {
        width: 100%;
        margin-top: 10px;
      }
    }

    .no-logged-in {
      font-size: 14px;
      color: #740500;
    }
  }

  .group-loader {
    .load-more {
      width: 100%;
    }
  }

  .group-container {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    div[disabled] {
      display: none;
    }

    .group-posts {
      .post-container {
        border: 1px solid #ccc;
        margin: 12px 0;
        padding: 10px;
        font-size: 12px;
      }

      .load-more-posts {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    .group-new-post {
      textarea {
        font-size: 12px;
      }

      button {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}