.groups-list {
  background-color: #ccc;
  border: 1px solid #000;
  padding: 15px;

  .group-container {
    background-color: #fff;
    padding: 15px;

    .post-container {
      border: 1px solid #ccc;
      margin: 12px 0;
      padding: 10px;
      font-size: 12px;
    }

    .group-new-post {

      textarea { font-size: 12px; }
      button {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}