<div class="groups-list">
    {% for key, group in groups %}
        <div class="group-container">
            <div class="group-title">
                <b>Group name</b>: {{ group.title }}
            </div>
            <div class="group-description">
                <b>Group description</b>: {{ group.description }}
            </div>
            <div class="group-posts">
                {% for key, post in group.posts %}
                    <div class="post-container">
                        <div class="post-title">
                            <b>Post name</b>: {{ post.title }}
                        </div>
                        {% if post.description %}
                            <div class="post-description">
                                <b>Post message</b>: {{ post.description }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="group-new-post">
                <form action="/">
                    <input type="hidden" name="group" value="{{ group.id }}">
                    <label for="message"></label>
                    <textarea name="message" id="message"></textarea>
                    <button type="submit">Send post to {{ group.title }} group</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>