<div class="public-groups-list">
    <div class="group-new-group">
        {% if user %}
        <form action="{{ formUrl }}" name="fb-group" method="post">
            <label>
                Facebook Group url:
                <input type="text" name="fb-group-url" class="{{ token ? 'hasToken' : '' }}" placeholder="Enter Facebook group url" required>
            </label>
            <label>
                Facebook Group name:
                <input type="text" name="fb-group-name" placeholder="Enter Facebook group name" required>
            </label>
            <label>
                Facebook Group description:
                <input type="text" name="fb-group-description" placeholder="Enter Facebook group description" required>
            </label>
            <label>
                Facebook Group members:
                <input type="text" name="fb-group-members" placeholder="Enter count of Facebook group members">
            </label>
            <button type="submit">Add group to local storage</button>
        </form>
        {% else %}
        <div class="no-logged-in">
            Warning: you need to be logged in user for opportunity to add new public group!
        </div>
        {% endif %}
    </div>
    <div class="public-groups-search">
        <form action="{{ formUrl }}" name="fb-group-search" method="post">
            <input type="hidden" name="fb-group-search-status" value="0">
            <label>
                Print your search request:
                <input type="text" name="fb-group-search" placeholder="Search request" required pattern=".{3,}" title="3 characters minimum">
            </label>
            <button type="submit">Search</button>
        </form>
    </div>
    {% for key, group in groups %}
        <div class="group-container">
            <div class="group-title">
                <b>Group name</b>: {{ group.name }}
            </div>
            <div class="group-url">
                <b>Group url</b>: <a href="{{ group.url }}" target="_blank">Open {{ group.name }} group</a>
            </div>
            {% if group.description %}
                <div class="group-description">
                    <b>Group description</b>: {{ group.description }}
                </div>
            {% endif %}
            {% if group.members %}
                <div class="group-members">
                    <b>Group members</b>: {{ group.members }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% if groupsCount > 5 %}
        <div class="group-loader" data-count="{{ groupsCount }}">
            <button type="button" class="load-more">Load more public groups...</button>
        </div>
    {% endif %}
</div>