<div class="local-storage-widget">
    <table class="form-table">
        <tbody>
        <tr>
            <th scope="row"><label for="fb_public_group_id">Facebook Group ID:</label></th>
            <td><input type="text" class="regular-text" value="{{ group.id }}" id="fb_public_group_id" name="fb_public_group_id" disabled required></td>
        </tr>
        <tr>
            <th scope="row"><label for="fb_entity_id">Local entity ID:</label></th>
            <td>
                <input type="text" class="regular-text" value="{{ group.localId }}" id="fb_entity_id" name="fb_entity_id" disabled required>
                <p id="tagline-description" class="description">This local ID of group for use as Wordpress system identification</p>
            </td>
        </tr>
        <tr>
            <th scope="row"><label for="fb_group_name">Group name</label></th>
            <td><input type="text" class="regular-text code" value="{{ group.name }}" id="fb_group_name" name="fb_group_name" required></td>
        </tr>
        <tr>
            <th scope="row"><label for="fb_group_url">Group URL:</label></th>
            <td>
                <input type="url" class="regular-text code" value="{{ group.url }}" id="fb_group_url" name="fb_group_url" disabled required>
                <p id="home-description" class="description">
                    You can see this Facebook group on the official website
                    <a href="{{ group.url }}" target="_blank">if you open this url</a>
                </p>
            </td>
        </tr>
        <tr>
            <th scope="row"><label for="fb-group-description">Group description:</label></th>
            <td><textarea class="large-text code" name="fb-group-description" id="fb-group-description">{{ group.description }}</textarea></td>
        </tr>
        <tr>
            <th scope="row"><label for="fb_group_members">Count of group members:</label></th>
            <td><input type="text" class="regular-text code" value="{{ group.members }}" id="fb_group_members" name="fb_group_members"></td>
        </tr>
        </tbody>
    </table>
</div>