<div class="wrap">
    <h1>Facebook Admin Widget</h1>
    <div class="widget-info">
        <h2>Search group into the Facebook Groups</h2>
        <p>Enter your search text in the search box of Facebook groups and click on the search button. In a positive result, you'll see a list of groups found.</p>
        <p>This feature is used to the administrator, who entered using the login through facebook, to carry out a search on Facebook groups and could join these groups.</p>
        <form>
            <input type="text" placeholder="Enter words for search..." name="search" required minlength="4">
            <button type="submit" class="button button-secondary pressthis-js-toggle js-show-pressthis-code-wrap" aria-expanded="false" aria-controls="pressthis-code-wrap" style="height: 32px;">
                <span class="dashicons dashicons-update"></span>
            </button>
        </form>
    </div>
    <div class="widget-results">
        <h2 class="title">Searching result</h2>
        <p>No result for displayed. Please enter/edit your search request for showing group list.</p>
    </div>
    <div class="widget-table">
        <table class="wp-list-table widefat">
            <thead>
            <tr>
                <th class="manage-column"><b>Id</b></th>
                <th class="manage-column"><b>Name</b></th>
                <th class="manage-column"><b>Url</b></th>
                <th class="manage-column"><b>Type</b></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <a href="#" class="load-more">Load more groups by your request...</a>
    </div>
</div>